{% extends "base/base.html" %}
{% block content %}
<div class="max-w-3xl mx-auto bg-white shadow-md rounded-xl p-8 mt-10">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">➕ Add Student</h2>

  <form method="POST" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}

    <div>
      <label class="block text-gray-700 font-medium">Full Name</label>
      <input type="text" name="full_name" class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300">
    </div>

    <div>
      <label class="block text-gray-700 font-medium">Email</label>
      <input type="email" name="email" class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300">
    </div>

    <div>
      <label class="block text-gray-700 font-medium">Address</label>
      <textarea name="address" rows="2" class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300"></textarea>
    </div>
    
    <div>
      <label class="block text-gray-700 font-medium">Date Of Birth</label>
      <textarea name="dob" placeholder="YYYY-MM-DD" rows="2" class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300"></textarea>
    </div>

    <div>
      <label class="block text-gray-700 font-medium">Phone</label>
      <textarea name="phone" rows="2" class="w-full mt-1 border rounded-lg px-3 py-2 focus:ring focus:ring-blue-300"></textarea>
    </div>

    <div>
      <label class="block text-gray-700 font-medium">Photo</label>
      <input type="file" name="photo" class="mt-2">
    </div>


    <div class="flex justify-end">
      <button type="submit" class="bg-blue-600 text-white px-5 py-2 rounded-lg hover:bg-blue-700 transition">
        Save Student
      </button>
    </div>
  </form>
</div>
{% endblock %}
