asgiref==3.8.1
Django==5.1
sqlparse==0.5.1



source venv/bin/activate
python manage.py runserver
rm db.sqlite3
find . -path "*/migrations/*.py" -not -name "__init__.py" -delete
python manage.py makemigrations
python manage.py migrate
