
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block teacher %}Teacher Dashboard - School Management System{% endblock teacher %} </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'base/index.css' %}">
    <link rel="stylesheet" href="{% static 'teacher_css/tclasses.css' %}">
    <link rel="stylesheet" href="{% static 'teacher_css/tresult.css' %}">
    <link rel="stylesheet" href="{% static 'teacher_css/texam.css' %}">
    <link rel="stylesheet" href="{% static 'teacher_css/tassignment.css' %}">
</head>
<body>
    <div class="header">
        <h1>Teacher Dashboard</h1>
        <div class="profile">
            <span>Welcome, {{ user.username }}</span>
    
            {% if request.user.is_authenticated %}
    
            <a href="{% url 'logout' %}">
              <button type="submit" class="btn btn-danger">Logout</button>
            </a>
    
            {% else %}
    
            <a href="{% url 'login' %}">
              <button type="submit" class="btn btn-primary">Login</button>
            </a>
    
            {% endif %}
    
          </div>
    </div>

    <div class="sidebar">
      
        <a href="{% url 'teacher' %}">Dashboard</a>
        <a href="{% url 't_classes' %}"> Classes</a>
        <a href="{% url 't_assignment' %}">Assignments</a>
        <a href="{% url 't_exam' %}">Exams</a>
        <a href="{% url 't_result' %}">Results</a>
        <a href="{% url 'index' %}">Settings</a>
        
    </div>

    <div class="content">

        {% block content %}
        

        <h1> Coming Soon </h1>

        {% endblock content %}

</body>
</html>
