
{% extends 'funtional/base.html' %}
      
{% block content %}


    <div class="content">
        <h2>Dashboard</h2>
        <div class="card">
            <h3>Statistics</h3>
            <div class="stats">
                <div class="stat">

                    <a href="{% url 'studentList' %}">
                        <h4>Total Students</h4>
                        <p>{{count}}</p>
                    </a>
                  
                </div>
                <div class="stat">

                    <a href="{% url 'teacherList' %}">
                        <h4>Total Teachers</h4>
                        <p>{{ teacherCount }}</p>
                    </a>

                </div>
                <div class="stat">
                    <a href="{% url 'total_classes' %}">
                        <h4>Total Classes</h4>
                        <p>(( total_classes ))</p>
                      </a>

                </div>
            </div>
        </div>

        <div class="card">
            <h3>Recent Activity</h3>
            <ul>
               
                <li></li>
            </ul>
        </div>
    </div>

    {% endblock content %}
