{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title %}

{% block content %}

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-md">
        
        <a class="navbar-brand" href="{% url 'index' %}">School Management System</a>

        {% if request.user.is_authenticated %}

            <a class="navbar-brand mt-6" href="{% url 'logout' %}">Logout</a>

            
        {% else %}

            <a class="navbar-brand mt-6" href="{% url 'login' %}">Login</a>

        {% endif %}
    </div>
</nav>

<!--Insert section-->


<div class="container mt-4">
    <div class="row">
        <!-- Form to insert student data -->
            {% include 'inputData.html' %}
        <!-- Table to display student details -->
            {% include 'studentDetails.html' %}
    
    </div>
</div>

{% endblock content %}
