{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" href="{% url 'index' %}">Student Admin Panel</a>

        {% if request.user.is_authenticated %}

        <a class="navbar-brand mt-6" href="{% url 'logout' %}">Logout</a>

            
        {% else %}

        <a class="navbar-brand mt-6" href="{% url 'login' %}">Login</a>

        {% endif %}
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <!-- Form to insert student data -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h2 class="text-center text-white bg-dark p-3">Insert Student Data</h2>
            <form method="post" action="{% url 'insert' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="studentId" name="studentId" placeholder="Enter student ID">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="studentName" name="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="studentAge" name="age" placeholder="Enter age">
                </div>
                <div class="form-group">
                    <select class="form-control" id="studentGender" name="gender">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" id="studentPhone" name="phone" placeholder="Enter phone number">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="studentEmail" name="email" placeholder="Enter Email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Table to display student details -->
         
        <div class="col-lg-8 col-md-6 col-sm-12 p-2">
            <h2 class="text-center text-white bg-dark p-3">Students Details</h2>

            </ul>

            <div> 
                <input class="form-control mr-sm-2" type="search" placeholder= "Search.....">
            </div>
            <h6>{{remove}}</h6>
     
            <table class="table table-responsive mt-4 p-3">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for db in data %}
                    <tr>
                        <th scope="row">{{ db.id }}</th>
                        <td>{{ db.studentID }}</td>
                        <td>{{ db.name }}</td>
                        <td>{{ db.email }}</td>
                        <td>{{ db.phone }}</td>
                        <td>{{ db.age }}</td>
                        <td>{{ db.gender }}</td>
                        <td>
                            <a href="{% url 'edit' db.id %}">
                                <button type="button" class="btn btn-outline-success btn-sm">Edit</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'remove' db.id %}">
                                <button type="button" class="btn btn-outline-danger btn-sm">Remove</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
