{% extends 'base.html' %}


<title> {% block title %} SignUp {% endblock title %}</title>

{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-md">
      <a class="navbar-brand" href="{% url 'index' %}">Student Admin Panel</a>
      <a class="navbar-brand mt-6" href="{% url 'login' %}">Login</a>
    </div>
  </nav>

  
  <!--signUp-->

  
<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <h2 class="text-center text-white bg-dark p-3">Sign Up</h2>


          {% for message in messages %}
          
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong> {{message}}
            <button type="button" class="btn-close" aria-label="Close"></button>
          </div>

          {% endfor %}
          
          <form method="post" action="{% url 'signUp' %}">

              {% csrf_token %}

              <div class="mb-4 mt-4">
             
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email" aria-describedby="emailHelp" required>
              </div>

              <div class="mb-4">
     
                  <input type="number" class="form-control" id="exampleInputPhone" name="phone" placeholder="Enter phone number" required>
              </div>
              <div class="mb-4">
               
                  <input type="password" class="form-control" id="exampleInputPassword1" name="pass1" placeholder="Enter password" required>
              </div>
              <div class="mb-4">
   
                  <input type="password" class="form-control" id="exampleInputPassword2" name="pass2" placeholder="Re-type password" required>
              </div>
              <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  <label class="form-check-label" for="exampleCheck1">Agree to terms and conditions</label>
              </div>
              <div class="d-grid">
                  <button type="submit" class="btn btn-success btn-block ">Submit</button>
              </div>
          </form>
          <h6 class="mt-4"><a href="{% url 'login' %}">Already have account..? Login </h6>
      </div>
  </div>
</div>


{% endblock content %}