{% extends 'base.html' %}
{% block title %}Student List{% endblock title %}

{% block content %}

<div class="content">
    <h3>Student Panel</h3>
    <div class="card">
        <div class="stats">
            <div class="stat">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h2 class="text-center text-white bg-dark p-3">Insert Student Data</h2>
                    <form method="post" action="{% url 'studentData' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="studentId" name="studentId" placeholder="Enter student ID">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="studentName" name="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="studentAge" name="age" placeholder="Enter age">
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="studentGender" name="gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" id="studentPhone" name="phone" placeholder="Enter phone number">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="studentEmail" name="email" placeholder="Enter Email">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="stat">
        <div class="col-lg-8 col-md-6 col-sm-12 p-2">
            <h2 class="text-center text-white bg-dark p-3">Students Details</h2>
            <h4>Total Students: {{ studentDB.count }}</h4>
            <div>
                <input class="form-control mr-sm-2" type="search" placeholder="Search...">
            </div>
            <table class="table table-responsive mt-4 p-3">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in studentDB %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ student.studentID }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.gender }}</td>
                        <td>
                            <a href="{% url 'edit' student.id %}">
                                <button type="button" class="btn btn-outline-success btn-sm">Edit</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'remove' student.id %}">
                                <button type="button" class="btn btn-outline-danger btn-sm">Remove</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
