{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="https://via.placeholder.com/100" alt="User Icon" class="user-icon">
            <h2>{{ user.name }}</h2>
            <p> Sign in required</p>

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <input type="text" name="username" placeholder="Username" id="username" required>
                <input type="password" name="password" placeholder="Password" id="password" required>

                <button type="submit">Sign in</button>

                <div class="options">
                    <a href="#">I forgot password</a>
                    <a href="{% url 'signUp' %}">SignUp</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
