{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'auth/signin.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">

            <p> Sign in required</p>

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <label for="email">Username:</label>
                <input type="text" name="username" >
                  
                  <label for="password">Password:</label>
                  <input type="password" name="password" required>
                  
                  <button type="submit">Login</button>


            </form>

            <div>
                <a href="#" class="no-underline">I forgot password</a>
                <div>
                <a href="{% url 'signUp' %}" class="no-underline">SignUp</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
